---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Min Maxd RPG</title>
	</head>
	<body>
		<header>
			Min Maxed
		</header>
		<h2> A Bunch of Deadly Nerds! </h2>
		<p>
			A lot of people have asked... and asked... and asked... 
			for us to come together and play DnD!
			<br>
			And if we are going to do this... 
			might as well do it right! 
			<br>
			We are bringing together the biggest names in SwordTube...? WeaponTube...? 
			you get it... 
			to play the most MIN-MAXED tabletop RPG Characters... 
			probably EVER. 
			<br>
			Ourselves!
		</p>
		<footer>
			Min-Maxed-RPG @2025
		</footer>
	</body>
</html>
